<div class="h-25">
  <img class="w-100 height-img position-absolute cover"
       src="https://images.unsplash.com/photo-1591696205602-2f950c417cb9?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZmluYW5jZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500"
       alt="">
  <div class="position-absolute top-50 start-50 translate-middle">
    <h1 class="text-center fw-bold">Bienvenido a Calculadora Financiera UPC</h1>
    <h4 class="text-center color-h3 ">En esta aplicación podrás calcular algunos indicadores financieros</h4>
    <div class="w-100 text-center mt-4">
      <button type="button" class="btn btn-success shadow">
        Calcular
      </button>
    </div>
    <div class="container mt-4">
      <div class="row text-center">
        <div class="col-sm">
          Precio de un Bono
        </div>
        <div class="col-sm">
          VAN
        </div>
        <div class="col-sm">
          TIR Bonista
        </div>
        <div class="w-100"></div>
        <div class="col-sm">
          Duración
        </div>
        <div class="col-sm">
          Duración modificada
        </div>
        <div class="col-sm">
          Convexidad
        </div>
      </div>
    </div>
  </div>
</div>
<div>
</div>

